<!doctype html>
<html lang="pt-br">

    <head>
        <!--- basic page needs
        ================================================== -->
        <meta charset="utf-8">
        <title>{% block title %}Administração{% endblock %}</title>
        <meta name="description" content="">
        <meta name="author" content="Cleiton Sorrilha">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <!-- mobile specific metas
        ================================================== -->
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

        <!-- favicons
	    ================================================== -->
        <link rel="shortcut icon" href="{{ asset('adm/img/favicon.png.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ asset('adm/img/favicon.png.ico') }}" type="image/x-icon">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('adm/img/apple-icon.png') }}" />

        {% block stylesheets %}
            <!-- CSS
            ================================================== -->
            <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.1/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
            <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.1/css/froala_style.min.css" rel="stylesheet" type="text/css" />

            <link rel="stylesheet" href="{{ asset('adm/css/perfect-scrollbar.css') }}">
            <link rel="stylesheet" href="{{ asset('adm/css/material-dashboard.css?v=2.0.1') }}">
            <link rel="stylesheet" href="{{ asset('adm/css/demo.css') }}">
            <link rel="stylesheet" href="{{ asset('adm/css/theme.css') }}">
            <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
            <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
        {% endblock %}
        <script src="{{ asset('adm/js/core/jquery.min.js') }}"></script>
        <script src="{{ asset('adm/js/plugins/jquery-1.12.4.js') }}"></script>
        <script src="{{ asset('adm/js/plugins/jquery-ui.js') }}"></script>

        {% block javascripts %}
            <!-- script
            ================================================== -->
            <script src="{{ asset('adm/js/core/popper.min.js') }}"></script>
            <script src="{{ asset('adm/js/plugins/moment.min.js') }}"></script>
            <script src="{{ asset('adm/js/bootstrap-material-design.js') }}"></script>
            <script src="{{ asset('adm/js/plugins/bootstrap-datetimepicker.min.js') }}"></script>
            <script src="{{ asset('adm/js/plugins/perfect-scrollbar.jquery.min.js') }}"></script>
            <script src="{{ asset('adm/js/plugins/chartist.min.js') }}"></script>
            <script src="{{ asset('adm/js/plugins/arrive.min.js') }}"></script>
            <script src="{{ asset('adm/js/plugins/bootstrap-notify.js') }}"></script>
            <script src="{{ asset('adm/js/plugins/bootstrap-selectpicker.js') }}"></script>
            <script src="{{ asset('adm/js/material-dashboard.js?v=2.0.0') }}"></script>
            <script src="{{ asset('adm/js/demo.js') }}"></script>

            <!-- Include Editor JS files. -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.1/js/froala_editor.pkgd.min.js"></script>

            <script src="{{ asset('adm/js/js.js') }}"></script>

        {% endblock %}
    </head>
    {% block body %}
        <body>
            <div class="wrapper">
                {% include 'blocks/menu.html.twig'%}

                <div class="main-panel">

                    <!-- Navbar -->
                    <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
                        <div class="container-fluid">
                            <div class="navbar-wrapper">
                                <a class="navbar-brand" href="#pablo">Material Dashboard</a>
                            </div>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="navbar-toggler-icon icon-bar"></span>
                                <span class="navbar-toggler-icon icon-bar"></span>
                                <span class="navbar-toggler-icon icon-bar"></span>
                            </button>
                            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                                <form class="navbar-form">
                                    <div class="input-group no-border">
                                        <input type="text" value="" class="form-control" placeholder="Search...">
                                        <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                            <i class="material-icons">search</i>
                                            <div class="ripple-container"></div>
                                        </button>
                                    </div>
                                </form>
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#pablo">
                                            <i class="material-icons">dashboard</i>
                                            <p>
                                                <span class="d-lg-none d-md-block">Stats</span>
                                            </p>
                                        </a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">notifications</i>
                                            <span class="notification">5</span>
                                            <p>
                                                <span class="d-lg-none d-md-block">Some Actions</span>
                                            </p>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="#">Mike John responded to your email</a>
                                            <a class="dropdown-item" href="#">You have 5 new tasks</a>
                                            <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                                            <a class="dropdown-item" href="#">Another Notification</a>
                                            <a class="dropdown-item" href="#">Another One</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#pablo">
                                            <i class="material-icons">person</i>
                                            <p>
                                                <span class="d-lg-none d-md-block">Account</span>
                                            </p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <!-- End Navbar -->

                    <div class="content">
                        <div class="container-fluid">
                            <div class="row">
                                {% block content %}
                                    <div class="col-md-8">
                                        <div class="card">
                                            <div class="card-header" data-background-color="purple">
                                                <h4 class="title">Edit Profile</h4>
                                                <p class="category">Complete your profile</p>
                                            </div>
                                            <div class="card-content">
                                                <form>
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <div class="form-group label-floating">
                                                                <label class="control-label">Company (disabled)</label>
                                                                <input type="text" class="form-control" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group label-floating">
                                                                <label class="control-label">Username</label>
                                                                <input type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group label-floating">
                                                                <label class="control-label">Email address</label>
                                                                <input type="email" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group label-floating">
                                                                <label class="control-label">Fist Name</label>
                                                                <input type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group label-floating">
                                                                <label class="control-label">Last Name</label>
                                                                <input type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group label-floating">
                                                                <label class="control-label">Adress</label>
                                                                <input type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group label-floating">
                                                                <label class="control-label">City</label>
                                                                <input type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group label-floating">
                                                                <label class="control-label">Country</label>
                                                                <input type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group label-floating">
                                                                <label class="control-label">Postal Code</label>
                                                                <input type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label>About Me</label>
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                                                    <textarea class="form-control" rows="5"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
                                                    <div class="clearfix"></div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                    <div class="card card-profile">
                                        <div class="card-avatar">
                                            <a href="#pablo">
                                                <img class="img" src="../assets/img/faces/marc.jpg" />
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h6 class="category text-gray">CEO / Co-Founder</h6>
                                            <h4 class="card-title">Alec Thompson</h4>
                                            <p class="card-content">
                                                Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                            </p>
                                            <a href="#pablo" class="btn btn-primary btn-round">Follow</a>
                                        </div>
                                    </div>
                                </div>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                    <footer class="footer">
                        <div class="container-fluid">
                            <nav class="pull-left">
                                <ul>
                                    <li>
                                        <a href="#">
                                            Home
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Company
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Portfolio
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Blog
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <p class="copyright pull-right">
                                &copy;
                                <script>
                                    document.write(new Date().getFullYear())
                                </script>
                                <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                            </p>
                        </div>
                    </footer>
                </div>
            </div>
        </body>
    {% endblock %}
</html>