{% extends 'admin/admin_base.html.twig' %}
{% form_theme form 'blocks/form.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('admin/js/plugins/bootstrap-tagsinput.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header row card-header-primary">
            <div class="col-md-6">
                {% if form.id is not defined %}
                    <h4 class="card-title">Novo {{ title }}</h4>
                {% else %}
                    <h4 class="card-title">Edição</h4>
                    <p class="card-category">Complete o cadastro deste {{ title }}</p>
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="nav-tabs-navigation pull-right">
                    <div class="nav-tabs-wrapper">
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li>
                                <a class="btn btn-white btn-round btn-just-icon retornar" href="{{ path(retorno) }}">
                                    <i class="material-icons">keyboard_arrow_left</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-9">
                        <h4 class="title">Cabeçalho</h4>
                        {{ form_row(form.title) }}
                        {{ form_row(form.subtitle) }}
                        {{ form_row(form.summary) }}
                        {{ form_row(form.tags) }}
                    </div>
                    <div class="col-md-3">
                        <h4 class="title">Configurações</h4>
                        {{ form_row(form.insertAt) }}
                        {{ form_row(form.publishedAt) }}
                        {{ form_row(form.expiredAt) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="title">Conteúdo</h4>
                        {{ form_row(form.content) }}
                        {{ form_row(form.saveAndCreateNew) }}
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}