{% extends 'admin/admin_base.html.twig' %}
{% block content %}
    {% if form is defined %}
        {% form_theme form 'blocks/form.html.twig' %}
        <div class="card">
            <div class="card-header card-header-primary" data-background-color="purple">
                <h4 class="card-title">Pesquisar</h4>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    {% endif %}
    <div class="card">
        <div class="card-header card-header-primary">
            <div class="pull-left">
                <h4 class="card-title">{{ title|capitalize }}</h4>
                <p class="card-category">Edite ou adicione novos {{ title|lower }}</p>
            </div>
            <div class="nav-tabs-navigation">
                <div class="clearfix nav-tabs-wrapper">
                    <ul class="nav nav-tabs navbar-right" data-tabs="tabs">
                        <li class="active">
                            <a href="#profile" data-toggle="tab">
                                <i class="material-icons">bug_report</i> Bugs
                                <div class="ripple-container"></div>
                            </a>
                        </li>
                        <li>
                            <a href="#messages" data-toggle="tab">
                                <i class="material-icons">code</i> Website
                                <div class="ripple-container"></div>
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-white btn-round btn-just-icon retornar" href="{{ path( edit ,{id:'novo'}) }}">
                                <i class="material-icons">add</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body">
            {% set tabela = [] %}
            {% set tabela = tabela|merge({"conteudo" : itens, "path" : edit}) %}
            {% include 'blocks/tabela.html.twig' %}
        </div>
    </div>
{% endblock %}